In [1]:
# IMPORT LIBRARIES

import numpy as np													# Numerical computations
import pandas as pd 												# Data structures
import matplotlib.pyplot as plt										# Statistic visualizations
import matplotlib.ticker as mticker									# Ticker formatting
from pandas.plotting import scatter_matrix							# Scatter matrix
import seaborn as sns												# Statistic visualizations
import statsmodels.api as sm										# Model construction
from scipy import stats			                                    # Statistics
import statsmodels.api as sm                                        # Model construction
from sklearn.linear_model import LinearRegression, Ridge, Lasso, RidgeCV, LassoCV	# Regression model
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder      # Assigns numeric ranges 0-1
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier					# Decision Trees
from sklearn.model_selection import train_test_split, KFold				# Test models
from sklearn.metrics import root_mean_squared_error, r2_score, accuracy_score		# Model accuracy
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import xgboost
from sklearn.datasets import load_iris, load_diabetes
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor 
#from utils import pipeline
from xgboost import XGBClassifier, XGBRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

In [3]:
df = pd.read_csv("anon_cust_data_1.csv")
df.sample(4)

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5284,5284,Female,1,No,No,5,No,No phone service,DSL,No,...,No,No,Yes,Yes,Month-to-month,No,Electronic check,45.70,198,Yes
6737,6737,Female,0,Yes,No,63,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.25,6841.4,No
3190,3190,Male,0,Yes,Yes,66,No,No phone service,DSL,No,...,Yes,Yes,Yes,Yes,Two year,No,Bank transfer (automatic),54.65,3632,No
534,534,Female,0,No,No,1,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.00,85,Yes

In [10]:
df.columns

Index(['Unnamed: 0', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [ ]:
def drop_a_column(df, model):
    for column in df.columns:
        X = df.drop(columns=[column, 'Churn'])
        y = df['Churn']
        if model == 'ridge':
            pass
        if model == 'linear':
            pass
        if model == 'logistic':
            pass
        if model == '':
            pass